<div class="col-md-12">
    <h3 class="text-center m-3">Tabela de Autores</h3>
    <table class="table" *ngIf="authorList">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Author first name</th>
          <th scope="col">Author last name</th>
          <th scope="col">Author e-mail</th>
          <th scope="col">Date creation</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let author of authorList">
          <td>{{author.id}}</td>
          <td>{{author.firstName}}</td>
          <td>{{author.lastName}}</td>
          <td>{{author.email}}</td>
          <td>{{author.createdAt}}</td>
          <td>
            <button class="btn btn-primary mx-2" (click)="updateAuthor(author.id)">
              Editar</button>
            <button class="btn btn-warning mr-2" (click)="removeAuthor(author.id)">
              Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <button class="btn btn-lg btn-outline-info m-3" (click) = "addNew()">Novo</button>
  
  